body {
  background: #eee;
  font-family: sans-serif;
  padding: 8px;
  margin: 0 auto;
}

.card {
  font-size: 16px;
  width: 400px;
  height: auto;
  background: #fff;
  margin: 8px auto;
  padding: 8px;
}


.title {
  background: #e3f4ff;
  font-size: 16px;
  margin: 8px auto;
  padding: 8px;
}

.content {
  background: #e3f4ff;
  margin: 8px auto;
  padding: 8px;
}

.button-container {
  display: block;
  text-align: center;
  margin: 8px auto;
  padding: 8px;
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  margin: auto;
}